{% extends "gestschools/menu.html" %}
{% load widget_tweaks %}

{% block body-block %}

<aside class="right-side">
		<!-- Content Header (Page header) -->
		<section class="content-header">
			<!--section starts-->
			<h1>Suppression</h1>
			<ol class="breadcrumb">
				<li>
					<a href="{% url 'gestschools:menu' %}">
						<i class="livicon" data-name="home" data-size="14" data-loop="true"></i>
						Dashboard
					</a>
				</li>
				
				<li class="active">Delete personnel</li>
			</ol>
		</section>
		<!--section ends-->
		<section class="content">
			<!--main content-->
			<div class="row">
				<!--row starts-->
				<div class="col-md-10">
					<!--lg-6 starts-->
					<!--basic form starts-->
					<div class="panel panel-primary" id="hidepanel1">
						<div class="panel-body">
							<form class="form-horizontal" action="#" method="post">
								<fieldset>
                                        {% csrf_token %}		
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                    
                                        <div class="modal-body">
                                            <p class="delete-text">Souhaitez-vous vraiment supprimer de la liste du personnel:
                                                <strong>{{ personnel.nom }} {{ personnel.prenom }}</strong>?</p>
                                        </div>
                                    
                                        <div class="modal-footer">
                                            <button type="submit" class="delete-btn btn btn-danger">Delete</button>
                                            <a class="delete-btn btn btn-cancel" href="{% url 'gestschools:liste_personnel' %}">Cancel</a>
                                        </div>    
									
								</fieldset>
							</form>
						</div>
					</div>
					<!--basic form 2 starts-->
				</div>
				<!--md-6 ends-->
				
			
			</div>
			
			</div>
	</section>
</aside>

{% endblock %}

